<!-- <button id="counter" class="btn btn-default">0</button>
<script>
    $('#counter').on('click',function(){$( this ).html(1 * $( this ).html() + 1)});    
</script>

<br> -->

<a href ="/click_counter?click=<%=@count+1%>" >
<button>
  <%= @count %>
</button>
</a>